.popUpHead {
  text-align: center;
  letter-spacing: 0;
  font-family: "Quicksand-Bold", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #151818;

  letter-spacing: 0px;
}

.secondaryTextContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.secondaryTextContainer .secondaryText {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  color: #3c3d3d;
  margin: 30px 0;

  text-align: center;
}

.badgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badgeContainer img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

@media only screen and (max-width: 768px) {
  .popUpHead {
    font-size: 24px;
  }

  .secondaryTextContainer .secondaryText {
    font-size: 16px;
    margin: 15px 0;
  }

  .badgeContainer img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }
}
